.todo {
  display: flex;
  align-items: center;
}

.todo p {
  width: 100%;
  min-height: 37px;
  padding: 10px;
  border: 1px solid white;
}
.todo button {
  cursor: pointer;
  width: 60px;
  height: 60px;
}
form {
  display: flex;
}
form input {
  width: 100%;
}
